html, body, #root {
    margin: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(lightblue, white);
}

a {
    color: blue;
}

form {
    width: 300px;
    border: 1px solid;
    text-align: left;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

form > input, form > button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: large;
}

form {
    position: relative;
}

.error {
    color: red;
    position: absolute;
    margin-left: 20px;
    width: 100%;
}
